.main{
    background-color: #E5E5E5;
    height: 100vh;
}

@media screen and (max-width:425px) {
    .logoImg {
        height: 90px;
        margin-top: 63px;
    }
}

@media screen and (min-width:425px) {
    .logoImg {
        height: 133px;
        margin-top: 45px;
    }
}

@media screen and (max-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 21px;
        font-family: Enriqueta;
        line-height: 25px;
        font-weight: bold;
        font-style: normal;
    }
}

@media screen and (min-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 30px;
        font-family: Enriqueta;
        line-height: 40px;
        font-weight: bold;
        font-style: normal;
    }
}

.jc{
    justify-content: center;
}

@media screen and (max-width:425px) {
    .loginBtn {
        width: 95%;
        height: 45px;
        border: 1px solid #4B4B4B;
        box-sizing: border-box;
        border-radius: 12px;
        color: #333333;
        text-transform: capitalize;
    }
}

@media screen and (min-width:425px) {
    .loginBtn {
        width: 220px;
        height: 45px;
        border: 1px solid #4B4B4B;
        box-sizing: border-box;
        border-radius: 12px;
        color: #333333;
        text-transform: capitalize;

    }
}

.dont{
    font-family: Enriqueta;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;

color: #0072B4;
}

.divider{
    border-top: 1px solid #C4C4C4;
    margin-top: 25px;
}

@media screen and (max-width:425px) {
    .dont {
        font-family: Enriqueta;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        
        color: #0072B4;
    }
}

@media screen and (min-width:425px) {
    .dont {
        font-family: Enriqueta;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        
        color: #0072B4;
    }
}

@media screen and (max-width:425px) {
    .registerBtn {
        border: 1px solid #8BC402;
        width: 230px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        // margin-bottom: 75px;
        font-size: 16px;
        height: 45px;
    }
}

@media screen and (max-width:425px) {
    .inputField {
        width: 230px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid #4B4B4B;
        margin: 10px 0px 10px 0px;
    }
}

@media screen and (min-width:425px) {
    .inputField {
        width: 477px;
        height: 50px;
        border-radius: 12px;
        border: 1px solid #4B4B4B;
        margin: 10px 0px 10px 0px;
    }
}

@media screen and (min-width:425px) {
    .registerBtn {
        border: 2px solid #8BC402;
        width: 477px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        // margin-bottom: 75px;
        font-size: 16px;
        height: 45px;
        text-transform: capitalize;
    }
}

.social-icon{
    height: 18px;
    margin-right: 5px;
}