<div class="main">
  <!-- <div style="background-image: url('/assets/images/children.svg');">
  </div> -->
  <ion-grid>
    <ion-row style="margin-top: 2%;">
      <ion-col size-md="6" offset-md="3">
        <ion-card style="border-radius: 20px;">
          <ion-col size-md="6" offset-md="3">
            <ion-img class="logoImg" [src]="logo"></ion-img>
          </ion-col>
          <ion-col>
            <div class="ion-text-center wlcmText">
              Welcome to parent account
            </div>
          </ion-col>
          <ion-row class="jc">
            <ion-button fill="clear"  class="registerBtn" (click)="signInWithGoogle()">
              <img class="social-icon" src="../../../assets/images/google.png" />
                Google
            </ion-button>
          </ion-row>
          <!-- <ion-row>
            <ion-col  class="ion-text-center">
              <ion-button fill="clear" class="loginBtn">
                <img class="social-icon" src="../../../assets/images/google.png" />
                Google
              </ion-button>
            </ion-col>
            <ion-col  class="ion-text-center">
              <ion-button fill="clear" class="loginBtn">
                <img class="social-icon" src="../../../assets/images/facebook.png" />
                Facebook
              </ion-button>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
            <ion-col  class="ion-text-center">
              <ion-button fill="clear" class="loginBtn">
                <img class="social-icon" src="../../../assets/images/yahoo.png" />
                Yahoo
              </ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-button fill="clear" class="loginBtn">
                <img class="social-icon" src="../../../assets/images/outlook.png" />
                Hotmail
              </ion-button>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col size="10" offset="1" class="divider">
            </ion-col>
          </ion-row> 
          
          <ion-col >
            <div class="ion-text-center">
              <input type="text" class="inputField" [(ngModel)]="loginInfo.email" placeholder="Your email" />
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <input type="password" class="inputField" [(ngModel)]="loginInfo.password" placeholder="Your Password" />
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <ion-button fill="clear" class="registerBtn" (click)="login()" >
                Login
              </ion-button>
            </div>
          </ion-col>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>