<div class="main">
  <!-- <div style="background-image: url('/assets/images/children.svg');">
  </div> -->
  <ion-grid>
    <ion-row style="margin-top: 2%;">
      <ion-col size-md="6" offset-md="3">
        <ion-card style="border-radius: 20px;">
          <ion-col size-md="6" offset-md="3">
            <ion-img class="logoImg" [src]="logo"></ion-img>
          </ion-col>
          <ion-col>
            <div class="ion-text-center wlcmText">
              Create your parent account
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <input type="text" class="inputField" placeholder="Your email" />
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <input type="password" class="inputField" placeholder="Your Password" />
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <ion-button fill="clear" class="registerBtn" >
                Register
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center forgotPass">
              Forgot Password?
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center forgotPass" style="margin-bottom: 30px;">
             <span style="color: black;"> Already have an account?</span> <span [routerLink]="['/auth/login']"> Login here </span>
            </div>
          </ion-col>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>