.main{
    background-color: #E5E5E5;
    height: 100vh;
}

@media screen and (max-width:425px) {
    .logoImg {
        height: 90px;
        margin-top: 63px;
    }
}

@media screen and (min-width:425px) {
    .logoImg {
        height: 133px;
        margin-top: 45px;
    }
}

@media screen and (max-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 21px;
        font-family: Enriqueta;
        line-height: 25px;
        font-weight: bold;
        font-style: normal;
    }
}

@media screen and (min-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 30px;
        font-family: Enriqueta;
        line-height: 40px;
        font-weight: bold;
        font-style: normal;
    }
}

.jc{
    justify-content: center;
}


@media screen and (max-width:425px) {
    .inputField {
        width: 230px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid #4B4B4B;
        margin: 10px 0px 10px 0px;
    }
}

@media screen and (min-width:425px) {
    .inputField {
        width: 477px;
        height: 50px;
        border-radius: 12px;
        border: 1px solid #4B4B4B;
        margin: 10px 0px 10px 0px;
    }
}

@media screen and (max-width:425px) {
    .registerBtn {
        border: 1px solid #8BC402;
        width: 230px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        font-size: 16px;
        height: 40px;
    }
}

@media screen and (min-width:425px) {
    .registerBtn {
        border: 1px solid #8BC402;
        width: 477px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        font-size: 16px;
        height: 50px;
    }
}

@media screen and (max-width:425px) {
    .forgotPass {
        color: #8BC402;
    font-family: Enriqueta;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
    }
}

@media screen and (min-width:425px) {
    .forgotPass {
        color: #8BC402;
        font-family: Enriqueta;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        cursor: pointer;
    }
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding-left: 20px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #B2B2B2;
  }