<div class="main">
  <!-- <div style="background-image: url('/assets/images/children.svg');">
  </div> -->
  <ion-grid>
    <ion-row style="margin-top: 5%;">
      <ion-col size-md="6" offset-md="3">
        <ion-card style="border-radius: 20px;">
          <ion-col size-md="6" offset-md="3">
            <ion-img class="logoImg" [src]="logo"></ion-img>
          </ion-col>
          <ion-col>
            <div class="ion-text-center wlcmText">
              Welcome to parent account
            </div>
          </ion-col>
          <ion-row class="jc">
            <ion-button fill="clear" [routerLink]="['/auth/login']" class="loginBtn">
              Login
            </ion-button>
          </ion-row>
          <ion-row class="jc">
            <ion-button fill="clear" class="registerBtn" [routerLink]="['/auth/register']">
              Register
            </ion-button>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>