.main{
    background-color: #E5E5E5;
    height: 100vh;
}

@media screen and (max-width:425px) {
    .logoImg {
        height: 90px;
        margin-top: 63px;
    }
}

@media screen and (min-width:425px) {
    .logoImg {
        height: 133px;
        margin-top: 45px;
    }
}

@media screen and (max-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 21px;
        font-family: Enriqueta;
        line-height: 25px;
        font-weight: bold;
        font-style: normal;
    }
}

@media screen and (min-width:425px) {
    .wlcmText {
        color: #0072B4;
        font-size: 30px;
        font-family: Enriqueta;
        line-height: 40px;
        font-weight: bold;
        font-style: normal;
    }
}

.jc{
    justify-content: center;
}

@media screen and (max-width:425px) {
    .loginBtn {
    width: 230px;
    color: white;
    background-color: #8BC402;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 25px;
    }
}

@media screen and (min-width:425px) {
    .loginBtn {
        width: 477px;
    color: white;
    background-color: #8BC402;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 25px;

    }
}

@media screen and (max-width:425px) {
    .registerBtn {
        border: 1px solid #8BC402;
        width: 230px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        margin-bottom: 75px;
        font-size: 16px;
    }
}

@media screen and (min-width:425px) {
    .registerBtn {
        border: 1px solid #8BC402;
        width: 477px;
        color: #282828;
        font-weight: bold;
        border-radius: 8px;
        margin-bottom: 75px;
        font-size: 16px;
    }
}