<div class="header">
  <div>
    <img class="headerImg" src="../../assets/images/logo.svg"/>
  </div>
  <div class="headerProfile">
    <div class="profileImg">

    </div>
    <div class="profileName">
      Parent Name
    </div>
  </div>
</div>

