.header{
    width: 100%;
    background-color: #0072B4;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.headerImg{
    height: 60px;
    padding-left: 25px;
}

.headerProfile{
    display: flex;
    align-items: center;
    padding-right: 21px;
}

.profileImg{
    height: 45px;
    width: 45px;
    background: white;
    border-radius: 50%;
}

.profileName{
    color: white;
    padding-left: 10px;
}

