<!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
<app-header></app-header>
<div class="col-sm-12 col-lg -12 col-md-12 bg" style="    display: flex;">
    <div class="col-sm-12 col-lg-3 col-md-3">
        <div class="childLeftMenu">
            <div class="childLeftMenuHeader">
                Your Students
            </div>
            <div class="row m0 marginName" *ngFor="let item of studentList">
                <div class="childNameCircle">

                </div>
                <div class="childname">
                    {{item.first_name}} {{item.last_name}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 col-lg-9 col-md-9">
        <div>
            <div class="row calSection">
                <div class="col-sm-6 col-lg-6 col-md-6 calTabActive">
                    Class Calendar
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 tab">
                    Home work
                </div>
            </div>

            <div class="row" style="margin-top: 40px;" [hidden]="!isReSchedule">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <bs-datepicker-inline (bsValueChange)="onDateChange($event)"></bs-datepicker-inline>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 slotDiv">
                    <div class="row slotHeader">
                        slots available
                    </div>
                    <div *ngFor="let item of timeSlots">
                        <div class="row slotDayHead">{{item.modifiedDate}}</div>
                        <div class="row pd0">
                            <div *ngFor="let slot of item.slots" class="col-sm-3 col-md-3 col-lg-3 pd0 timePanel">
                                <span class="circle"></span>
                                <span>{{slot.start_time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="continueBtn" (click)="continueRescdule()">CONTINUE</button>
                    </div>

                </div>
            </div>

            <div [hidden]="isReSchedule" class="row" style="height: calc(100vh - 151px);
            overflow-y: auto;">


                <full-calendar [options]="calendarOptions" style="width: 100%;background-color: white;"></full-calendar>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="z-index: 999999;">
            <div class="popup">
                <div class="popuptxt" (click)="cancelClass()">
                    <span>
                        <i class="fa fa-trash-o" style="color: #8BC402;"></i>
                    </span>
                    <span style="margin-left: 5px;">
                        Cancel class
                    </span>
                </div>
                <div class="popuptxt" (click)="reSchedule()">
                    <span>
                        <i class="fa fa-edit" style="color: #8BC402;"></i>
                    </span>
                    <span style="margin-left: 5px;">
                        Reschedule class
                    </span>
                </div>
                <div class="popuptxt">
                    <span>
                        <i class="fa fa-calendar" style="color: #8BC402;"></i>
                    </span>
                    <span style="margin-left: 5px;">
                        Add to parent calendar
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content reshdulPopup" style="z-index: 999999;">
            <div class="row textCntr">
                IN 2 DAYS
            </div>
            <div class="row rescheduleHeader">
                Rescheduled class details
            </div>
            <div class="row" style="margin-top: 30px;align-items: center;">
                <div class="circleRe">

                </div>
                <div class="childName">
                    Child 1
                </div>
            </div>
            <div class="row reScheduleSubj">
                Abacus Math
            </div>
            <div class="row reScheduleDate">
                May 5, Monday, 9:00-9:45 AM
            </div>
            <div class="row" style="margin-top:40px">
                <button style="background: white;">CANCEL</button>
                <button class="saveClass">SAVE CLASS</button>
            </div>
        </div>
    </div>
</div>