.bg {
    background: #E5E5E5;
    height: calc(100vh - 60px);
}

.childLeftMenu {
    position: absolute;
    width: 282px;
    height: 316px;
    left: 24px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 15px;
}

.childLeftMenuHeader {
    font-style: normal;
    font-weight: bold;
    color: #7B7B7B;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 15px;
}

.childNameCircle {
    height: 40px;
    width: 40px;
    background: #FF8A00;
    border-radius: 50%;
}

.m0 {
    margin: 0px;
}

.childname {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #333333;
    margin-left: 17px;
}

.marginName {
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.calSection {
    background: #FFFFFF;
    border-radius: 15px;
    height: 54px;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.calTabActive {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #8BC402;
    border-right: 1px solid #C4C4C4;
}



.tab {
    color: #7B7B7B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}

::ng-deep .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
    background: #E5E5E5 !important;
    padding: 12px 0px !important;
}

::ng-deep .fc-dayGridMonth-button {
    background: #FFFFFF !important;
    border-bottom-left-radius: 10px !important;
    border: none;
    color: black !important;
    width: 100px;
    border-top-left-radius: 10px !important;
}
::ng-deep .fc-myCustomButton-button {
    background: #FFFFFF !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    height: 37px !important;
    border-radius: 10px !important;
    color: black !important;
    margin-right: 10px !important;
}

::ng-deep .fc-subject3-button{
    border-radius: 10px !important;
    color: black !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-right: 10px !important;
}

::ng-deep .fc-subject2-button{
    border-radius: 10px !important;
    color: black !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-right: 10px !important;
}

::ng-deep .fc-subject1-button{
    border-radius: 10px !important;
    color: black !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-right: 10px !important;
}

::ng-deep .fc .fc-button-primary {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #FFFFFF !important;
     border-color: #FFFFFF !important;
    /* border-color: var(--fc-button-border-color,#2c3e50); */
}

::ng-deep .fc-timeGridWeek-button{
    background: white !important;
    color: black !important;
}

::ng-deep .fc-timeGridDay-button{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background: white !important;
    color: #333333 !important;
    border: none !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
}

::ng-deep .fc-prev-button{
    color: black !important;
}

::ng-deep .fc-next-button{
    color: black !important;
}

::ng-deep .bottom{
    width: 90% !important;
}

::ng-deep .bs-datepicker-container {
    padding: 15px;
    width: 100%;
}

::ng-deep.theme-green .bs-datepicker-body table td.week span {
    color: #FCA28B;
}

::ng-deep.previous{
    color: black !important;
}

::ng-deep.bs-datepicker-head button.next, .bs-datepicker-head button.previous {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: black;
}

::ng-deep.theme-green .bs-datepicker-head {
    background-color: white;
}

::ng-deep.bs-datepicker-head button.current {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    color: black;
}

::ng-deep .bs-datepicker-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    min-height: 232px;
    min-width: 278px;
    border: none;
}

::ng-deep .bs-datepicker .bs-media-container {
    display: contents;
}

::ng-deep .bs-datepicker-body .days.weeks {
    position: relative;
    z-index: 1;
    height: 270px;
}

::ng-deep .bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    box-shadow: none;
    position: relative;
    z-index: 1;
    height: 368px;
    background: #FFFFFF;
    border-radius: 15px;
}



:ng-deep .dotIcon{
    color: #8BC402;
    font-size: 18px;
}

::ng-deep .fc-v-event .fc-event-title-container {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    display: flex;
    justify-content: space-between;
}

::ng-deep .fc-timegrid-event .fc-event-main {
    padding: 5px 5px 0 !important;
}

::ng-deep .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 0px !important;
    height: 100vh;
    background-color: #000;
}

.popup{
    width: 100%;
    height: 167px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.reshdulPopup{
    padding-right: 0px;
    display: block;
    position: absolute;
    width: 366px;
    height: 368px;
    left: 100%;
    top: 31%;
    padding: 50px 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

// @media (min-width: 576px)
::ng-deep .modal-dialog {
    max-width: 200px;
    margin: 1.75rem auto;
    left: 10%;
}

.popuptxt{
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    padding: 20px 20px 0px 20px;
}

.slotHeader{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #7B7B7B;
}

.slotDiv{
    height: 350px;
    background: #FFFFFF;
    border-radius: 15px;overflow-y: auto;padding: 45px;
}

.slotDayHead{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 13px;

}

.pd0{
    padding: 0px;
}

.timePanel{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    height: 37px;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    margin-right: 20px;
    justify-content: center;
    
}

.circle{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 7px;
    margin-right: 20px;
}

.continueBtn{
    background: #8BC402;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: 10px;
    color: white;
}

.textCntr{
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #7B7B7B;
}

.rescheduleHeader{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #333333;
    margin-top: 16px;
}

.circleRe{
    height: 27px;
    width: 27px;
    background: #FF8A00;
    border-radius: 50%;
}

.childName{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #333333;
    margin-left: 15px;
}

.reScheduleSubj{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: #7B7B7B;
    margin-top: 20px;
}

.reScheduleDate{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #333333;
    margin-top: 20px;
}

.saveClass{
    height: 42px;
    width: 132px;
    margin-left: 28px;
    color: white;
    background: #8BC402;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}