<div class="main">
    <!-- <div style="background-image: url('/assets/images/children.svg');">
    </div> -->
    <ion-grid>
        <ion-row style="margin-top: 2%;">
            <ion-col size-md="6" offset-md="3">
                <ion-card style="border-radius: 20px;">
                    <ion-col size-md="6" offset-md="3">
                        <ion-img class="logoImg" [src]="logo"></ion-img>
                    </ion-col>
                    <ion-col>
                        <div class="ion-text-center wlcmText">
                            Join Parent App on Math Genie
                        </div>
                    </ion-col>
                    <ion-row>
                        <ion-col class="ion-text-center">
                            <ion-button fill="clear" class="loginBtn" (click)="registerWithGoogle()">
                                <img class="social-icon" src="../../../assets/images/google.png" />
                                Sign In With Google
                            </ion-button>
                        </ion-col>

                    </ion-row>

                    <ion-row>
                        <ion-col size="10" offset="1" class="divider">
                        </ion-col>
                    </ion-row>
                    <!-- <ion-col>
                        <div class="ion-text-center dont">
                            Don't have an gmail?
                        </div>
                    </ion-col> -->
                    <ion-row class="jc">
                        <ion-col>
                            <div class="ion-text-center">
                                <input type="text" *ngIf="verifyUser.emailStep || verifyUser.passwordStep"
                                    [(ngModel)]="verifyUser.email" disabled class="inputField"
                                    placeholder="Your email" />
                                <input type="password" *ngIf="verifyUser.passwordStep" [(ngModel)]="verifyUser.password"
                                    class="inputField" placeholder="Your Password" />
                            </div>
                        </ion-col>
                        <!-- <ion-col *ngIf="verifyUser.passwordStep">
                            <div class="ion-text-center">
                                <input type="password" [(ngModel)]="verifyUser.password" class="inputField"
                                    placeholder="Your Password" />
                            </div>
                        </ion-col> -->
                        <ion-button *ngIf="!verifyUser.emailStep && !verifyUser.passwordStep" fill="clear"
                            (click)="customRegister()" class="registerBtn">
                            Register with your email
                        </ion-button>

                    </ion-row>
                    <ion-row *ngIf="verifyUser.emailStep">
                        <ion-col>
                            <div class="ion-text-center">
                                <ion-button fill="clear" class="btn" (click)="next()">
                                    Next
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="verifyUser.passwordStep">
                        <ion-col>
                            <div class="ion-text-center">
                                <ion-button fill="clear" class="btn" (click)="submit()">
                                    Submit
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>